
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Unica+One&display=swap');

:root {
    --primary-color:#EBE5CA;
    --secondary-color:#77A49D;
    --accent1-color:#113C4F;
    --accent2-color:#8EC41E;

    --heading-font: 'Unica One', serif;
    --paragraph-font: 'Comfortaa', serif;
    --nav-background-color: #77A49D;
    --nav-link-color: #4B1D3F;
    --nav-hover-link-color: #D1BCE3;
    --nav-hover-background-color: #79A9D1;
}

h1{
    font-size: 40pt;
    position: absolute;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    top: 70px;
    left: 210px


}

h2{
    margin: 20px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

article p {
    padding: 10px;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}


p {
    padding: 10px;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}


.hero img{

    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
}


.hero article {
    position: absolute;
    background-color: var(--secondary-color);
    float: right;
    width: 500px;
    top: 180px;
    left: 250px;

    margin: 0px;


}

.hero article img{
    width: 250px;
    height:auto;
    float: right;

}

.hero div{
    position: relative;

}

header img{
    width: 100px;
    height: auto;
}

footer {

    text-decoration: none;
}

.contents {

    width: 960px;


}
