

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


main {
    max-width: 500px;
}

nav {
    background-color: steelblue;
    padding: 10px
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}


h1 {
    color: steelblue;
}


main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 15rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 55px;
    left: 0px;
}

aside img {
    width:200px;
    height:auto;
    opacity: 25%;
}

footer {
    margin-top: 50px;
    border-top: 4px solid purple ;
    text-align: center;

}

/* Class Selectors*/

.box {
    margin: 1rem;
    border:2px solid rgba(0, 0, 0, .03) ;
    padding: 1rem;
    background-color: rgb(252, 244, 236);
    color: purple;

}