/* 
:root {
    --primary-color:#4682B4;
    --secondary-color:#CAD2C5;
    --accent1-color:#84A98C;
    --accent2-color:#392F5A;
    --accent3-color:#363636;
    --accent4-color:#242F40;


    --nav-background-color: #4682B4;
    --nav-link-color: #3C5A14;
    --nav-hover-link-color: #11270B;
    --nav-hover-background-color: #3B2C35;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


main {
    grid-column: 3/ span 2;
    grid-row: 1 / span 3;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: steelblue;
    padding: 10px
}

nav a {
    display: block;
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


h1 {
    color: steelblue;
    border-bottom: solid 2pt ;
    padding: 5px;
}


main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    margin: 30px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 20px;
}

aside {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    width: 15rem;
    text-align: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

aside h2 {
    position: absolute;
    top: 55px;
    left: 0px;
}

aside img {
    width:200px;
    height:auto;
    opacity: 25%;
}

.grid, header, footer {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

footer {
    border-top: 4px solid gainsboro ;
}

ul {
    text-align: left;
}
/* Class Selectors */

.box {
    margin: 1rem;
    border:2px solid rgba(0, 0, 0, .03) ;
    padding: 1rem;
    background-color: rgb(252, 244, 236);
    color: navy;

}

.grid {
    display: grid;
    align-items: center;


}